name: Build and Deploy Hugo Site

on:
  push:
    branches:
      - main # Déclenche le workflow à chaque push sur la branche main
  workflow_dispatch: # Permet d'exécuter le workflow manuellement

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          submodules: true # Indispensable pour PaperMod
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest' # Ou une version spécifique comme '0.120.4'
          extended: true # Nécessaire pour les thèmes modernes comme PaperMod

      - name: Build Hugo Site
        run: hugo --minify

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public # Le dossier généré par Hugo

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
